@use "../variables/colors";

.product-page {
  background-color: colors.$primary-color-light;
  width: 100%;
  min-height: 320px;
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
}

.main-layout {
  border-radius: 15px;
  width: 550px;
  height: 450px;
  display: flex;

  &__image {
    border-radius: 12px 0 0 12px;
    width: 50%;
    height: 100%;
    max-height: inherit;
    object-position: left;
    margin: 0;
  }
  &__info {
    background-color: #ffffff;
    border-radius: 0 12px 12px 0;
    width: 50%;
    height: 100%;
    max-height: inherit;
    object-position: right;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .product-page {
    background-color: colors.$primary-color-light;
    width: 100%;
    min-height: 320px;
    height: 100vh;
    position: relative;
    display: grid;
    align-items: center;
  }

  .main-layout {
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    align-items: center;

    &__image {
      border-radius: 12px 0 0 12px;
      width: 50%;
      height: 100%;
      max-height: inherit;
      object-position: left;
      margin: 0;
    }
    &__info {
      background-color: #ffffff;
      border-radius: 0 12px 12px 0;
      width: 50%;
      height: 100%;
      max-height: inherit;
      object-position: right;
      margin: 0;
    }
  }
}
